.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(13, 50px);
    column-gap: 30px;
}

.showcase {
    border: 1px sol black;
}

.col-2 {
    grid-column: auto/span 2;
}

.col-3 {
    grid-column: auto/span 3;
}

.col-6 {
    grid-column: auto/span 6;
}

.col-8 {
    grid-column: auto/span 8;
}

.row-2 {
    grid-row: auto/span 2;
}

.row-3 {
    grid-row: auto/span 3;
}

.row-7 {
    grid-row: auto/span 7;
}

.row-13 {
    grid-row: auto/span 13;
}